<div class="container" ng-controller="getController">
    <form>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" placeholder="title" ng-model="title">
            </div>
        </div>
        <div class="form-group row">
            <label for="keyword" class="col-sm-2 col-form-label">Keyword</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="keyword" placeholder="keyword" ng-model="keyword">
            </div>
        </div>
        <div class="form-group row">
              <label for="location" class="col-sm-2 col-form-label">Location</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="location" placeholder="location" ng-model="location">
              </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-2">
              <button class="btn btn-primary" ng-click="search()">Search</button>
              <button class="btn btn-primary" ng-click="reset()">Reset</button>
              <button class="btn btn-primary pull-right" ng-click="searchSaved()">Saved Jobs</button>
              <button class="btn btn-primary pull-right" ng-click="searchApplied()">Applied jobs</button>
            </div>
        </div>
    </form>
    <div>
    <div ng-repeat="job in saved" ng-if="displaySaved">
        <label style="color:midnightblue">Saved Job: </label>
        <div><label>Title: </label>{{' ' + job.title}}</div>
        <div><label>Description: </label>{{' ' + job.description}}</div>
        <div><label>Location: </label>{{' ' + job.location}}</div><br>
    </div>
    <div ng-repeat="job in applied" ng-if="displayApplied">
            <label style="color: olive">Applied Job: </label>
            <div><label>Title: </label>{{' ' + job.title}}</div>
            <div><label>Description: </label>{{' ' + job.description}}</div>
            <div><label>Location: </label>{{' ' + job.location}}</div><br>
    </div>
    <div ng-repeat="elem in list">
            <div><label >Title: </label>{{' ' + elem.title}}</div>
            <div><label >Description: </label>{{' ' + elem.description}}</div>
            <div><label>Location: </label>{{' ' + elem.location}}</div>
            <div><button class="btn btn-primary" ng-click="save(elem.title,elem.location,elem.description)">Save</button><button class="btn btn-primary" ng-click="apply(elem.title,elem.location,elem.description)">Apply</button></div>
    </div>
    </div>
</div>